<!-- User account and action buttons -->
<div class="pull-right">
  <a class="btn-navbar search-opener" href="#"><i class="ti-search"></i></a>
  <a class="btn-navbar" href="#"><i class="ti-plus"></i></a>

  <div class="dropdown user-account">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
      <img src="assets/img/avatar-2.jpg" alt="avatar">
    </a>

    <ul class="dropdown-menu dropdown-menu-right">
      <li><a href="#">Profile</a></li>
      <li><a href="setting-profile.html">Settings</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>

</div>

<!-- Search screen -->
<div class="search-screen closed">
  <button class="search-closer"><i class="ti-close"></i></button>
  <form class="search-form" action="page-search.html"> <!-- Needs to be updated with ERB syntax -->
    <input type="text" autocomplete="off" placeholder="Find your inspiration...">
  </form>
</div>
<!-- Search screen ends -->

</div>
</nav>
<!-- End Navigation bar -->

<!-- Main container -->
<main>

<!-- Profile head -->
<div class="profile-head">
<div class="container">
  <a href="user-profile.html"><img src="assets/img/avatar-2.jpg" alt="avatar"></a>
  <h5><a href="#">DoeDesign</a></h5>
  <p><i class="fa fa-map-marker"></i> Los Angeles, US</p>
  <p class="lead">Front-end developer</p>
  <p>Phasellus in ipsum vestibulum, maximus mauris a, venenatis quam. Vestibulum nec mi malesuada.</p>

  <ul class="social-icons">
    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
    <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
    <li><a href="#"><i class="fa fa-globe"></i></a></li>
  </ul>

  <div class="row bottom-bar">
    <ul class="col-sm-12 col-md-6 action-buttons">
      <li><a class="btn btn-success btn-outline btn-sm" href="#">Follow</a></li>
    </ul>

    <ul class="col-sm-12 col-md-6 tab-list">
      <li class="active"><a href="user-profile.html"><i>Shots</i><span>125</span></a></li>
      <li class="hidden-xs"><a href="user-profile.html"><i>Likes</i><span>1.6K</span></a></li>
      <li><a href="user-followers.html"><i>Followers</i><span>2.3K</span></a></li>
      <li><a href="user-followers-2.html"><i>Following</i><span>279</span></a></li>
    </ul>
  </div>
</div>
</div>
<!-- END Profile head -->

<!-- User shots -->
<section class="no-border-bottom section-sm">
<div class="container">

  <div class="row">

    <!-- Shot -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="shot shot-minimal">
        <div class="shot-preview">
          <a class="img" href="shot-gallery.html"><img src="assets/img/shot-3.jpg" alt=""></a>

          <a class="text-overlay" href="shot-gallery.html">
            <span class="heading">Facebook Groups Marketing Site</span>
            <span class="desc">New marketing site for Facebook Groups. We are excited to start publishing stories about great groups and provide useful tips to group admins and members.</span>
            <time datetime="2016-02-04 22:30">7 hours ago</time>
          </a>
        </div>

        <div class="shot-detail">
          <div class="shot-info">
            <p><a href="page-search.html">Website</a></p>
          </div>

          <ul class="shot-stats">
            <li><i class="fa fa-eye"></i><span>6.3k</span></li>
            <li><a href="shot-gallery.html#comments"><i class="fa fa-comments"></i><span>328</span></a></li>
            <li><a class="like" href="#"><i class="fa fa-heart"></i><span>1.2k</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END Shot -->

    <!-- Shot -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="shot shot-minimal">
        <div class="shot-preview">
          <a class="img" href="shot-gallery.html"><img src="assets/img/shot-4.jpg" alt=""></a>

          <a class="text-overlay" href="shot-gallery.html">
            <span class="heading">Facebook Groups Marketing Site</span>
            <span class="desc">New marketing site for Facebook Groups. We are excited to start publishing stories about great groups and provide useful tips to group admins and members.</span>
            <time datetime="2016-02-04 22:30">7 hours ago</time>
          </a>
        </div>

        <div class="shot-detail">
          <div class="shot-info">
            <p><a href="page-search.html">App</a></p>
          </div>

          <ul class="shot-stats">
            <li><i class="fa fa-eye"></i><span>6.3k</span></li>
            <li><a href="shot-gallery.html#comments"><i class="fa fa-comments"></i><span>328</span></a></li>
            <li><a class="like" href="#"><i class="fa fa-heart-o"></i><span>1.2k</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END Shot -->

    <!-- Shot -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="shot shot-minimal">
        <div class="shot-preview">
          <a class="img" href="shot-gallery.html"><img src="assets/img/shot-5.jpg" alt=""></a>

          <a class="text-overlay" href="shot-gallery.html">
            <span class="heading">Facebook Groups Marketing Site</span>
            <span class="desc">New marketing site for Facebook Groups. We are excited to start publishing stories about great groups and provide useful tips to group admins and members.</span>
            <time datetime="2016-02-04 22:30">7 hours ago</time>
          </a>
        </div>

        <div class="shot-detail">
          <div class="shot-info">
            <p><a href="page-search.html">App</a></p>
          </div>

          <ul class="shot-stats">
            <li><i class="fa fa-eye"></i><span>6.3k</span></li>
            <li><a href="shot-gallery.html#comments"><i class="fa fa-comments"></i><span>328</span></a></li>
            <li><a class="like" href="#"><i class="fa fa-heart"></i><span>1.2k</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END Shot -->

    <!-- Shot -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="shot shot-minimal">
        <div class="shot-preview">
          <a class="img" href="shot-gallery.html"><img src="assets/img/shot-6.jpg" alt=""></a>

          <a class="text-overlay" href="shot-gallery.html">
            <span class="heading">Facebook Groups Marketing Site</span>
            <span class="desc">New marketing site for Facebook Groups. We are excited to start publishing stories about great groups and provide useful tips to group admins and members.</span>
            <time datetime="2016-02-04 22:30">7 hours ago</time>
          </a>
        </div>

        <div class="shot-detail">
          <div class="shot-info">
            <p><a href="page-search.html">App</a></p>
          </div>

          <ul class="shot-stats">
            <li><i class="fa fa-eye"></i><span>6.3k</span></li>
            <li><a href="shot-gallery.html#comments"><i class="fa fa-comments"></i><span>328</span></a></li>
            <li><a class="like" href="#"><i class="fa fa-heart-o"></i><span>1.2k</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END Shot -->

    <!-- Shot -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="shot shot-minimal">
        <div class="shot-preview">
          <a class="img" href="shot-gallery.html"><img src="assets/img/shot-7.jpg" alt=""></a>

          <a class="text-overlay" href="shot-gallery.html">
            <span class="heading">Facebook Groups Marketing Site</span>
            <span class="desc">New marketing site for Facebook Groups. We are excited to start publishing stories about great groups and provide useful tips to group admins and members.</span>
            <time datetime="2016-02-04 22:30">7 hours ago</time>
          </a>
        </div>

        <div class="shot-detail">
          <div class="shot-info">
            <p><a href="page-search.html">Event</a></p>
          </div>

          <ul class="shot-stats">
            <li><i class="fa fa-eye"></i><span>6.3k</span></li>
            <li><a href="shot-gallery.html#comments"><i class="fa fa-comments"></i><span>328</span></a></li>
            <li><a class="like" href="#"><i class="fa fa-heart"></i><span>1.2k</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END Shot -->

    <!-- Shot -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="shot shot-minimal">
        <div class="shot-preview">
          <a class="img" href="shot-gallery.html"><img src="assets/img/shot-1.gif" alt=""></a>

          <a class="text-overlay" href="shot-gallery.html">
            <span class="heading">Facebook Groups Marketing Site</span>
            <span class="desc">New marketing site for Facebook Groups. We are excited to start publishing stories about great groups and provide useful tips to group admins and members.</span>
            <time datetime="2016-02-04 22:30">7 hours ago</time>
          </a>
        </div>

        <div class="shot-detail">
          <div class="shot-info">
            <p><a href="page-search.html">Animation</a></p>
          </div>

          <ul class="shot-stats">
            <li><i class="fa fa-eye"></i><span>6.3k</span></li>
            <li><a href="shot-gallery.html#comments"><i class="fa fa-comments"></i><span>328</span></a></li>
            <li><a class="like" href="#"><i class="fa fa-heart"></i><span>1.2k</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END Shot -->

    <!-- Shot -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="shot shot-minimal">
        <div class="shot-preview">
          <a class="img" href="shot-gallery.html"><img src="assets/img/shot-8.jpg" alt=""></a>

          <a class="text-overlay" href="shot-gallery.html">
            <span class="heading">Facebook Groups Marketing Site</span>
            <span class="desc">New marketing site for Facebook Groups. We are excited to start publishing stories about great groups and provide useful tips to group admins and members.</span>
            <time datetime="2016-02-04 22:30">7 hours ago</time>
          </a>
        </div>

        <div class="shot-detail">
          <div class="shot-info">
            <p><a href="page-search.html">Dashboard</a></p>
          </div>

          <ul class="shot-stats">
            <li><i class="fa fa-eye"></i><span>6.3k</span></li>
            <li><a href="shot-gallery.html#comments"><i class="fa fa-comments"></i><span>328</span></a></li>
            <li><a class="like" href="#"><i class="fa fa-heart-o"></i><span>1.2k</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END Shot -->

    <!-- Shot -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="shot shot-minimal">
        <div class="shot-preview">
          <a class="img" href="shot-gallery.html"><img src="assets/img/shot-9.jpg" alt=""></a>

          <a class="text-overlay" href="shot-gallery.html">
            <span class="heading">Facebook Groups Marketing Site</span>
            <span class="desc">New marketing site for Facebook Groups. We are excited to start publishing stories about great groups and provide useful tips to group admins and members.</span>
            <time datetime="2016-02-04 22:30">7 hours ago</time>
          </a>
        </div>

        <div class="shot-detail">
          <div class="shot-info">
            <p><a href="page-search.html">User Interface</a></p>
          </div>

          <ul class="shot-stats">
            <li><i class="fa fa-eye"></i><span>6.3k</span></li>
            <li><a href="shot-gallery.html#comments"><i class="fa fa-comments"></i><span>328</span></a></li>
            <li><a class="like" href="#"><i class="fa fa-heart"></i><span>1.2k</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END Shot -->

    <!-- Shot -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="shot shot-minimal">
        <div class="shot-preview">
          <a class="img" href="shot-gallery.html"><img src="assets/img/shot-2.jpg" alt=""></a>

          <a class="text-overlay" href="shot-gallery.html">
            <span class="heading">Facebook Groups Marketing Site</span>
            <span class="desc">New marketing site for Facebook Groups. We are excited to start publishing stories about great groups and provide useful tips to group admins and members.</span>
            <time datetime="2016-02-04 22:30">7 hours ago</time>
          </a>
        </div>

        <div class="shot-detail">
          <div class="shot-info">
            <p><a href="page-search.html">Animation</a></p>
          </div>

          <ul class="shot-stats">
            <li><i class="fa fa-eye"></i><span>6.3k</span></li>
            <li><a href="shot-gallery.html#comments"><i class="fa fa-comments"></i><span>328</span></a></li>
            <li><a class="like" href="#"><i class="fa fa-heart-o"></i><span>1.2k</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END Shot -->

    <!-- Shot -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="shot shot-minimal">
        <div class="shot-preview">
          <a class="img" href="shot-gallery.html"><img src="assets/img/shot-3.jpg" alt=""></a>

          <a class="text-overlay" href="shot-gallery.html">
            <span class="heading">Facebook Groups Marketing Site</span>
            <span class="desc">New marketing site for Facebook Groups. We are excited to start publishing stories about great groups and provide useful tips to group admins and members.</span>
            <time datetime="2016-02-04 22:30">7 hours ago</time>
          </a>
        </div>

        <div class="shot-detail">
          <div class="shot-info">
            <p><a href="page-search.html">Website</a></p>
          </div>

          <ul class="shot-stats">
            <li><i class="fa fa-eye"></i><span>6.3k</span></li>
            <li><a href="shot-gallery.html#comments"><i class="fa fa-comments"></i><span>328</span></a></li>
            <li><a class="like" href="#"><i class="fa fa-heart-o"></i><span>1.2k</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END Shot -->

    <!-- Shot -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="shot shot-minimal">
        <div class="shot-preview">
          <a class="img" href="shot-gallery.html"><img src="assets/img/shot-4.jpg" alt=""></a>

          <a class="text-overlay" href="shot-gallery.html">
            <span class="heading">Facebook Groups Marketing Site</span>
            <span class="desc">New marketing site for Facebook Groups. We are excited to start publishing stories about great groups and provide useful tips to group admins and members.</span>
            <time datetime="2016-02-04 22:30">7 hours ago</time>
          </a>
        </div>

        <div class="shot-detail">
          <div class="shot-info">
            <p><a href="page-search.html">App</a></p>
          </div>

          <ul class="shot-stats">
            <li><i class="fa fa-eye"></i><span>6.3k</span></li>
            <li><a href="shot-gallery.html#comments"><i class="fa fa-comments"></i><span>328</span></a></li>
            <li><a class="like" href="#"><i class="fa fa-heart-o"></i><span>1.2k</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END Shot -->

    <!-- Shot -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="shot shot-minimal">
        <div class="shot-preview">
          <a class="img" href="shot-gallery.html"><img src="assets/img/shot-5.jpg" alt=""></a>

          <a class="text-overlay" href="shot-gallery.html">
            <span class="heading">Facebook Groups Marketing Site</span>
            <span class="desc">New marketing site for Facebook Groups. We are excited to start publishing stories about great groups and provide useful tips to group admins and members.</span>
            <time datetime="2016-02-04 22:30">7 hours ago</time>
          </a>
        </div>

        <div class="shot-detail">
          <div class="shot-info">
            <p><a href="page-search.html">App</a></p>
          </div>

          <ul class="shot-stats">
            <li><i class="fa fa-eye"></i><span>6.3k</span></li>
            <li><a href="shot-gallery.html#comments"><i class="fa fa-comments"></i><span>328</span></a></li>
            <li><a class="like" href="#"><i class="fa fa-heart"></i><span>1.2k</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END Shot -->

    <!-- Shot -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="shot shot-minimal">
        <div class="shot-preview">
          <a class="img" href="shot-gallery.html"><img src="assets/img/shot-6.jpg" alt=""></a>

          <a class="text-overlay" href="shot-gallery.html">
            <span class="heading">Facebook Groups Marketing Site</span>
            <span class="desc">New marketing site for Facebook Groups. We are excited to start publishing stories about great groups and provide useful tips to group admins and members.</span>
            <time datetime="2016-02-04 22:30">7 hours ago</time>
          </a>
        </div>

        <div class="shot-detail">
          <div class="shot-info">
            <p><a href="page-search.html">App</a></p>
          </div>

          <ul class="shot-stats">
            <li><i class="fa fa-eye"></i><span>6.3k</span></li>
            <li><a href="shot-gallery.html#comments"><i class="fa fa-comments"></i><span>328</span></a></li>
            <li><a class="like" href="#"><i class="fa fa-heart-o"></i><span>1.2k</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END Shot -->

    <!-- Shot -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="shot shot-minimal">
        <div class="shot-preview">
          <a class="img" href="shot-gallery.html"><img src="assets/img/shot-7.jpg" alt=""></a>

          <a class="text-overlay" href="shot-gallery.html">
            <span class="heading">Facebook Groups Marketing Site</span>
            <span class="desc">New marketing site for Facebook Groups. We are excited to start publishing stories about great groups and provide useful tips to group admins and members.</span>
            <time datetime="2016-02-04 22:30">7 hours ago</time>
          </a>
        </div>

        <div class="shot-detail">
          <div class="shot-info">
            <p><a href="page-search.html">Event</a></p>
          </div>

          <ul class="shot-stats">
            <li><i class="fa fa-eye"></i><span>6.3k</span></li>
            <li><a href="shot-gallery.html#comments"><i class="fa fa-comments"></i><span>328</span></a></li>
            <li><a class="like" href="#"><i class="fa fa-heart-o"></i><span>1.2k</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END Shot -->

    <!-- Shot -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="shot shot-minimal">
        <div class="shot-preview">
          <a class="img" href="shot-gallery.html"><img src="assets/img/shot-8.jpg" alt=""></a>

          <a class="text-overlay" href="shot-gallery.html">
            <span class="heading">Facebook Groups Marketing Site</span>
            <span class="desc">New marketing site for Facebook Groups. We are excited to start publishing stories about great groups and provide useful tips to group admins and members.</span>
            <time datetime="2016-02-04 22:30">7 hours ago</time>
          </a>
        </div>

        <div class="shot-detail">
          <div class="shot-info">
            <p><a href="page-search.html">Dashboard</a></p>
          </div>

          <ul class="shot-stats">
            <li><i class="fa fa-eye"></i><span>6.3k</span></li>
            <li><a href="shot-gallery.html#comments"><i class="fa fa-comments"></i><span>328</span></a></li>
            <li><a class="like" href="#"><i class="fa fa-heart"></i><span>1.2k</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END Shot -->

    <!-- Shot -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="shot shot-minimal">
        <div class="shot-preview">
          <a class="img" href="shot-gallery.html"><img src="assets/img/shot-9.jpg" alt=""></a>

          <a class="text-overlay" href="shot-gallery.html">
            <span class="heading">Facebook Groups Marketing Site</span>
            <span class="desc">New marketing site for Facebook Groups. We are excited to start publishing stories about great groups and provide useful tips to group admins and members.</span>
            <time datetime="2016-02-04 22:30">7 hours ago</time>
          </a>
        </div>

        <div class="shot-detail">
          <div class="shot-info">
            <p><a href="page-search.html">User Interface</a></p>
          </div>

          <ul class="shot-stats">
            <li><i class="fa fa-eye"></i><span>6.3k</span></li>
            <li><a href="shot-gallery.html#comments"><i class="fa fa-comments"></i><span>328</span></a></li>
            <li><a class="like" href="#"><i class="fa fa-heart-o"></i><span>1.2k</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END Shot -->

  </div>

  <!-- Pagination -->
  <nav class="text-center">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <i class="ti-angle-left"></i>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li class="active"><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <i class="ti-angle-right"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- END Pagination -->

</div>
</section>
<!-- END User shots -->

</main>
<!-- END Main container -->
