<!-- Main container -->
<main>

  <!-- About -->
  <section class="bg-white">
    <div class="container">
      <header class="section-header">
        <span>Our Story</span>
        <h2>About us</h2>
        <p>Keep reading this section to figure out how we got started.</p>
      </header>

      <h5>The first days</h5>
      <p>Computer technology revolutionized typography in the 20th century. Personal computers in the 1980s like the Macintosh allowed type designers to create types digitally using commercial graphic design software. Digital technology also enabled designers to create more experimental typefaces, alongside the practical fonts of traditional typography. Designs for typefaces could be created faster with the new technology, and for more specific functions. The cost for developing typefaces was drastically lowered, becoming widely available to the masses. The change has been called the “democratization of type” and has given new designers more opportunities to enter the field.</p>
      <p>Pellentesque ullamcorper erat non malesuada dictum. Cras nec dui metus. Nam non consequat turpis. Aenean ut arcu porttitor, auctor nibh tempor, interdum quam. Etiam eu vehicula magna. Quisque ut egestas sem. Phasellus rutrum, nibh et efficitur condimentum, eros erat pellentesque est, ut malesuada nunc magna vel velit. In hac habitasse platea dictumst. Praesent volutpat dignissim tortor dignissim imperdiet. Cras accumsan vulputate dolor, nec condimentum nulla tincidunt eu.</p>

      <h5>How we resolve it?</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in tristique odio. Quisque nec sollicitudin est. Sed vel malesuada diam. Donec laoreet scelerisque imperdiet. Sed eleifend porta lorem a dictum. Sed lorem lorem, rhoncus eget posuere eget, bibendum ut odio. Nulla lacinia nunc et fermentum lobortis. Fusce scelerisque, lacus tincidunt pellentesque luctus, tellus risus consectetur dui, ut accumsan tellus leo vel mauris. Aenean id tortor lacus.</p>

      <h5>What's our solution?</h5>
      <p>Quisque lobortis accumsan tempus. Mauris pretium neque eu posuere molestie. Maecenas tincidunt eleifend egestas. Vestibulum tellus augue, laoreet sit amet quam nec, pulvinar luctus nisl. In consequat elit et aliquet posuere. Mauris porttitor est a ipsum vehicula, non porttitor quam tincidunt. Proin id orci tortor. Integer sit amet enim a nisi sagittis ultrices. Sed efficitur feugiat lobortis. In in lorem mauris. Ut placerat velit ut ligula placerat, eu accumsan sapien luctus. Vivamus in est sit amet felis dictum dapibus. Sed et eros sed massa porttitor volutpat vel at orci. Proin et lacus molestie, bibendum nisi eu, bibendum velit.</p>

    </div>
  </section>
  <!-- END About -->



  <!-- Team -->
  <section class="no-border-bottom">
    <div class="container">
      <header class="section-header">
        <span>Who we are</span>
        <h2>Our team</h2>
        <p>Currently, we're three geek and will grow up soon</p>
      </header>

    <div class="row equal-blocks">

      <!-- User widget -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card user-widget">
          <div class="card-block text-center">
            <a href="user-profile.html"><img src="assets/img/avatar-1.jpg" alt="avatar"></a>
            <h5><a href="#">Jose Shams</a></h5>
            <p class="lead">Co-founder</p>
            <br>
            <p class="text-justify">Curabitur eros tellus, eleifend eu ligula sed, vestibulum venenatis justo. Nunc semper augue non enim lacinia, fermentum condimentum nulla finibus. Curabitur quis porttitor neque. Proin gravida libero lacus, vel varius lectus blandit eu. Pellentesque vitae rhoncus erat, id sagittis lorem. Etiam condimentum turpis lectus, vitae maximus nibh congue vel. Nulla facilisi. Mauris nec ipsum vitae quam vestibulum ullamcorper sed at tortor.</p>
          </div>

          <div class="card-footer">
            <ul class="social-icons">
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- END User widget -->

      <!-- User widget -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card user-widget">
          <div class="card-block text-center">
            <a href="user-profile.html"><img src="assets/img/avatar-3.jpg" alt="avatar"></a>
            <h5><a href="#">Mary Amini</a></h5>
            <p class="lead">Co-founder</p>
            <br>
            <p class="text-justify">Curabitur eros tellus, eleifend eu ligula sed, vestibulum venenatis justo. Nunc semper augue non enim lacinia, fermentum condimentum nulla finibus. Curabitur quis porttitor neque. Proin gravida libero lacus, vel varius lectus blandit eu. Pellentesque vitae rhoncus erat, id sagittis lorem. Etiam condimentum turpis lectus, vitae maximus nibh congue vel. Nulla facilisi. Mauris nec ipsum vitae quam vestibulum ullamcorper sed at tortor.</p>
          </div>

          <div class="card-footer">
            <ul class="social-icons">
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

  </section>
</main>
