<!-- Main container -->
<main>

  <!-- The Why -->
  <section class="bg-white">
    <div class="container">
      <header class="section-header">
        <span>Our Story</span>
        <h2>About us</h2>
        <p>CHANGING LIVES THROUGH TECH</p>
      </header>

      <h5><b>THE PROBLEM</b></h5>
      <p>The US accounts for 25% of the world's prison population, spending between $60-70k on each prisoner annually (5x more than higher education). After one year from release, 75% are unemployed and over 60% will return to prison. The Last Mile is an organization that has been providing computer programming skills to inmates for the last five years. The recidivism rate for their students is 0%. Not one former inmate has returned to jail upon release.</p>
      <p>Lacking access to the internet, this program was missing a developer-oriented design tool for students that would provide creative inspiration for course assignments and projects as well as exposure to real-world projects and trends. Students at the Florida-based Wyncode Academy, moved by the The Last Mile's program and success, took on this task as their final project.</p>

      <h5><b>THE SOLUTION</b></h5>
      <p>Lacking access to the internet, this program was missing a developer-oriented design tool for students that would provide creative inspiration for course assignments and projects as well as exposure to real-world projects and trends. Students at the Florida-based Wyncode Academy, moved by the The Last Mile's program and success, took on this task as their final project to end their own technical training.</p>
      <p>Proactively educating prisoners and teaching them real-world job skills before they're released will allow them to lead normal lives and contribute back to society.</p>

      <h5><b>WHY IT MATTERS</b></h5>
      <p>The financial incentves are astounding: with only 10% reduction in the national recitivism rate, approximately $233 million will be saved by tax-payers. Also, a formerly incarcerated person contributes more than $10k annually towards the economy if employed. It is predicted that there will be a shortfall of 1 million software engineering jobs in 2020. The <a href="http://thelastmile.org/" target="_blank">TLM</a> “returned graduates” will be positioned well to leverage this opportunity and support our mission to reduce recidivism by attaining gainful employment.</p>

    </div>
  </section>



  <!-- The Us -->
  <section class="no-border-bottom">
    <div class="container">
      <header class="section-header">
        <span>Who we are</span>
        <h2>The team</h2>
      </header>

    <div class="row equal-blocks">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="card user-widget">
          <div class="card-block text-center">
            <%= image_tag 'deven-blackburn.jpg', alt: 'avatar' %>
            <h5>Deven Blackburn</h5>
            <p class="lead">Co-founder</p>
            <br>
            <p class="text-justify">Commodo banh mi enim ennui irony. You probably haven't heard of them listicle selfies gastropub. Excepteur elit ullamco, sunt ad proident laborum PBR&B blog umami etsy austin four dollar toast. Mlkshk kickstarter single-origin coffee minim VHS. Vero polaroid waistcoat bespoke, slow-carb adipisicing et. Nulla vero enim viral, banjo tempor wayfarers odio swag helvetica selvage. Neutra tattooed scenester, venmo trust fund nisi schlitz authentic put a bird on it pour-over placeat mlkshk.</p>
          </div>

          <div class="card-footer">
            <ul class="social-icons">
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="card user-widget">
          <div class="card-block text-center">
            <%= image_tag 'deri-cleland.jpg', alt: 'avatar' %>
            <h5>Deri Cleland</h5>
            <p class="lead">Co-founder</p>
            <br>
            <p class="text-justify">Commodo banh mi enim ennui irony. You probably haven't heard of them listicle selfies gastropub. Excepteur elit ullamco, sunt ad proident laborum PBR&B blog umami etsy austin four dollar toast. Mlkshk kickstarter single-origin coffee minim VHS. Vero polaroid waistcoat bespoke, slow-carb adipisicing et. Nulla vero enim viral, banjo tempor wayfarers odio swag helvetica selvage. Neutra tattooed scenester, venmo trust fund nisi schlitz authentic put a bird on it pour-over placeat mlkshk.</p>
          </div>

          <div class="card-footer">
            <ul class="social-icons">
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

  </section>
</main>
