<!-- Header-->
<img src="<%= asset_path('suave-blog.png') %>" width="100%">
	<!-- Main container -->
  <main>

	<!-- Section 1 -->
	<section>
		<div class="container">

			<div class="col-sm-12 col-md-6">
				<header class="section-header text-left">
					<span>Article</span>
					<h3>Title of Article</h3>
					<p>Headliner leading into article content</p>
				</header>

				<p>Nihil shoreditch ad mixtape. Meditation food truck retro do mixtape. Post-ironic chia fingerstache, knausgaard brooklyn banh mi delectus godard. Truffaut yuccie iPhone officia aliquip yr beard mlkshk, selvage brooklyn chicharrones.</p>
				<p>DIY health goth cliche, leggings adipisicing et iPhone hoodie four dollar toast art party. Intelligentsia poutine selfies pariatur sint. Dolore DIY gentrify forage waistcoat, lo-fi wayfarers hoodie. Venmo magna veniam, literally plaid DIY williamsburg mustache PBR&B. Selvage farm-to-table 90's meggings kogi. Veniam stumptown deserunt tote bag. Humblebrag pour-over venmo hella, consequat mixtape ramps tote bag gastropub.</p>

				<br><br>
				<a class="btn btn-primary" href="#">Learn more</a>
			</div>

			<div class="col-sm-12 col-md-6">
				<img class="center-block" src="<%= asset_path('learn1.png') %>">
			</div>

		</div>
	</section>

	<!-- Section 2 -->
	<section>
		<div class="container">
			<header class="section-header">
				<span>Article</span>
				<h2>Title of Article</h2>
				<p>Headliner leading into article content</p>
			</header>
			<p>Narwhal keffiyeh try-hard poutine gluten-free eiusmod, occupy incididunt pour-over anim sustainable organic. Et meh sapiente occaecat, sed proident biodiesel VHS commodo wayfarers ramps ugh post-ironic qui wolf. Actually quis crucifix, distillery vero echo park eu offal dolor. Nihil shoreditch ad mixtape. Meditation food truck retro do mixtape. Post-ironic chia fingerstache, knausgaard brooklyn banh mi delectus godard. Truffaut yuccie iPhone officia aliquip yr beard mlkshk, selvage brooklyn chicharrones.</p>
			<p>Narwhal keffiyeh try-hard poutine gluten-free eiusmod, occupy incididunt pour-over anim sustainable organic. Et meh sapiente occaecat, sed proident biodiesel VHS commodo wayfarers ramps ugh post-ironic qui wolf. Actually quis crucifix, distillery vero echo park eu offal dolor. Nihil shoreditch ad mixtape. Meditation food truck retro do mixtape. Post-ironic chia fingerstache, knausgaard brooklyn banh mi delectus godard. Truffaut yuccie iPhone officia aliquip yr beard mlkshk, selvage brooklyn chicharrones.</p>
		</div>
	</section>

	<!--Section 3 -->
	<section>
		<div class="container">

			<div class="col-sm-12 col-md-6">
				<header class="section-header text-left">
					<span>Article</span>
					<h3>Title of Article</h3>
					<p>Headliner leading into article content</p>
				</header>

				<p>Nihil shoreditch ad mixtape. Meditation food truck retro do mixtape. Post-ironic chia fingerstache, knausgaard brooklyn banh mi delectus godard. Truffaut yuccie iPhone officia aliquip yr beard mlkshk, selvage brooklyn chicharrones.</p>
				<p>DIY health goth cliche, leggings adipisicing et iPhone hoodie four dollar toast art party. Intelligentsia poutine selfies pariatur sint. Dolore DIY gentrify forage waistcoat, lo-fi wayfarers hoodie. Venmo magna veniam, literally plaid DIY williamsburg mustache PBR&B. Selvage farm-to-table 90's meggings kogi. Veniam stumptown deserunt tote bag. Humblebrag pour-over venmo hella, consequat mixtape ramps tote bag gastropub.</p>

				<br><br>
				<a class="btn btn-primary" href="#">Learn more</a>
			</div>

			<div class="col-sm-12 col-md-6">
				<img class="center-block" src="<%= asset_path('learn2.jpg') %>">
			</div>

		</div>
	</section>

	<!-- Section 4 -->
	<section class="bg-white">
		<div class="container">
			<header class="section-header">
				<span>Article</span>
				<h2>Title of Article</h2>
				<p>Headliner leading into article content</p>
			</header>
			<p>Narwhal keffiyeh try-hard poutine gluten-free eiusmod, occupy incididunt pour-over anim sustainable organic. Et meh sapiente occaecat, sed proident biodiesel VHS commodo wayfarers ramps ugh post-ironic qui wolf. Actually quis crucifix, distillery vero echo park eu offal dolor. Nihil shoreditch ad mixtape. Meditation food truck retro do mixtape. Post-ironic chia fingerstache, knausgaard brooklyn banh mi delectus godard. Truffaut yuccie iPhone officia aliquip yr beard mlkshk, selvage brooklyn chicharrones.</p>
			<p>Narwhal keffiyeh try-hard poutine gluten-free eiusmod, occupy incididunt pour-over anim sustainable organic. Et meh sapiente occaecat, sed proident biodiesel VHS commodo wayfarers ramps ugh post-ironic qui wolf. Actually quis crucifix, distillery vero echo park eu offal dolor. Nihil shoreditch ad mixtape. Meditation food truck retro do mixtape. Post-ironic chia fingerstache, knausgaard brooklyn banh mi delectus godard. Truffaut yuccie iPhone officia aliquip yr beard mlkshk, selvage brooklyn chicharrones.</p>
		</div>
	</section>

	<!-- Section 5-->
	<section>
		<div class="container">

			<div class="col-sm-12 col-md-6">
				<header class="section-header text-left">
					<span>Article</span>
					<h3>Title of Article</h3>
					<p>Headliner leading into article content</p>
				</header>

				<p>Nihil shoreditch ad mixtape. Meditation food truck retro do mixtape. Post-ironic chia fingerstache, knausgaard brooklyn banh mi delectus godard. Truffaut yuccie iPhone officia aliquip yr beard mlkshk, selvage brooklyn chicharrones.</p>
				<p>DIY health goth cliche, leggings adipisicing et iPhone hoodie four dollar toast art party. Intelligentsia poutine selfies pariatur sint. Dolore DIY gentrify forage waistcoat, lo-fi wayfarers hoodie. Venmo magna veniam, literally plaid DIY williamsburg mustache PBR&B. Selvage farm-to-table 90's meggings kogi. Veniam stumptown deserunt tote bag. Humblebrag pour-over venmo hella, consequat mixtape ramps tote bag gastropub.</p>

				<br><br>
				<a class="btn btn-primary" href="#">Learn more</a>
			</div>

			<div class="col-sm-12 col-md-6">
				<img class="center-block" src="<%= asset_path('learn3.png') %>">
			</div>

		</div>
	</section>

	<!-- Section 6 -->
	<section class="bg-white">
		<div class="container">
			<header class="section-header">
				<span>Article</span>
				<h2>Title of Article</h2>
				<p>Headliner leading into article content</p>
			</header>
			<p>Narwhal keffiyeh try-hard poutine gluten-free eiusmod, occupy incididunt pour-over anim sustainable organic. Et meh sapiente occaecat, sed proident biodiesel VHS commodo wayfarers ramps ugh post-ironic qui wolf. Actually quis crucifix, distillery vero echo park eu offal dolor. Nihil shoreditch ad mixtape. Meditation food truck retro do mixtape. Post-ironic chia fingerstache, knausgaard brooklyn banh mi delectus godard. Truffaut yuccie iPhone officia aliquip yr beard mlkshk, selvage brooklyn chicharrones.</p>
			<p>Narwhal keffiyeh try-hard poutine gluten-free eiusmod, occupy incididunt pour-over anim sustainable organic. Et meh sapiente occaecat, sed proident biodiesel VHS commodo wayfarers ramps ugh post-ironic qui wolf. Actually quis crucifix, distillery vero echo park eu offal dolor. Nihil shoreditch ad mixtape. Meditation food truck retro do mixtape. Post-ironic chia fingerstache, knausgaard brooklyn banh mi delectus godard. Truffaut yuccie iPhone officia aliquip yr beard mlkshk, selvage brooklyn chicharrones.</p>
		</div>
	</section>

		</div>
	</section>
</main>
