<main>
	<!-- Section 1 -->
	<section>
		<div class="container">
			<header class="section-header">
				<span>Featured</span>
				<h2>Staff Favorites</h2>
				<p>Curated selection of awesome, innovative designs.</p>
			</header>




		</div>
	</section>

	<!-- Section 2 -->
	<section class="bg-white">
		<div class="container">
			<header class="section-header">
				<span>Recent</span>
				<h2>Freshest Uploads</h2>
				<p>Newest content from our members around the world.</p>
			</header>




		</div>
	</section>

	<!-- Section 3 -->
	<section>
		<div class="container">
			<header class="section-header">
				<span>The bests</span>
				<h2>Featured users</h2>
				<p>Our weekly selected users with popular shots</p>
			</header>






		</div>
	</section>
</main>
