<!-- Header-->
<img src="<%= asset_path('suave-blog.png') %>" width="100%">
	<!-- Main container -->
  <main>

	<!-- Section 1 -->
	<section>
		<div class="container">

			<div class="col-sm-12 col-md-6">
				<header class="section-header text-left">
					<span>Article</span>
					<h3>Color Theory for Developers</h3>
					<p>By Cameron Chapman</p>
				</header>

				  <p>Color in design is very subjective. What evokes one reaction in one person may evoke a very different reaction in somone else. Sometimes this is due to personal preference, and other times due to cultural background. Color theory is a science in itself. Studying how colors affect different people, either individually or as a group, is something some people build their careers on. And there’s a lot to it. Something as simple as changing the exact hue or saturation of a color can evoke a completely different feeling. Cultural differences mean that something that’s happy and uplifting in one country can be depressing in another.</p>
				  <p>This is the first in a three-part series on color theory. Here we’ll discuss the meanings behind the different color families, and give some examples of how these colors are used (with a bit of analysis for each). In Part 2 we’ll talk about how hue, chroma, value, saturation, tones, tints and shades affect the way we perceive colors. And in Part 3 we’ll discuss how to create effective color palettes for your own designs.</p>

				<br><br>
				<a class="btn btn-primary" href="#">Learn more</a>
			</div>

			<div class="col-sm-12 col-md-6">
				<img class="center-block" src="<%= asset_path('learn1.png') %>">
			</div>

		</div>
	</section>

	<!-- Section 2 -->
	<section>
		<div class="container">
			<header class="section-header">
				<span>Article</span>
				<h2>Title of Article</h2>
				<p>Headliner leading into article content</p>
			</header>

			  <p>Narwhal keffiyeh try-hard poutine gluten-free eiusmod, occupy incididunt pour-over anim sustainable organic. Et meh sapiente occaecat, sed proident biodiesel VHS commodo wayfarers ramps ugh post-ironic qui wolf. Actually quis crucifix, distillery vero echo park eu offal dolor. Nihil shoreditch ad mixtape. Meditation food truck retro do mixtape. Post-ironic chia fingerstache, knausgaard brooklyn banh mi delectus godard. Truffaut yuccie iPhone officia aliquip yr beard mlkshk, selvage brooklyn chicharrones.</p>
			  <p>Narwhal keffiyeh try-hard poutine gluten-free eiusmod, occupy incididunt pour-over anim sustainable organic. Et meh sapiente occaecat, sed proident biodiesel VHS commodo wayfarers ramps ugh post-ironic qui wolf. Actually quis crucifix, distillery vero echo park eu offal dolor. Nihil shoreditch ad mixtape. Meditation food truck retro do mixtape. Post-ironic chia fingerstache, knausgaard brooklyn banh mi delectus godard. Truffaut yuccie iPhone officia aliquip yr beard mlkshk, selvage brooklyn chicharrones.</p>

		</div>
	</section>

	<!--Section 3 -->
	<section>
		<div class="container">

			<div class="col-sm-12 col-md-6">
				<header class="section-header text-left">
					<span>Article</span>
					<h3>Title of Article</h3>
					<p>Headliner leading into article content</p>
				</header>

				  <p>Nihil shoreditch ad mixtape. Meditation food truck retro do mixtape. Post-ironic chia fingerstache, knausgaard brooklyn banh mi delectus godard. Truffaut yuccie iPhone officia aliquip yr beard mlkshk, selvage brooklyn chicharrones.</p>
				  <p>DIY health goth cliche, leggings adipisicing et iPhone hoodie four dollar toast art party. Intelligentsia poutine selfies pariatur sint. Dolore DIY gentrify forage waistcoat, lo-fi wayfarers hoodie. Venmo magna veniam, literally plaid DIY williamsburg mustache PBR&B. Selvage farm-to-table 90's meggings kogi. Veniam stumptown deserunt tote bag. Humblebrag pour-over venmo hella, consequat mixtape ramps tote bag gastropub.</p>

				<br><br>
				<a class="btn btn-primary" href="#">Learn more</a>
			</div>

			<div class="col-sm-12 col-md-6">
				<img class="center-block" src="<%= asset_path('learn2.jpg') %>">
			</div>

		</div>
	</section>

	<!-- Section 4 -->
	<section class="bg-white">
		<div class="container">
			<header class="section-header">
				<span>Article</span>
				<h2>Title of Article</h2>
				<p>Headliner leading into article content</p>
			</header>

			  <p>Narwhal keffiyeh try-hard poutine gluten-free eiusmod, occupy incididunt pour-over anim sustainable organic. Et meh sapiente occaecat, sed proident biodiesel VHS commodo wayfarers ramps ugh post-ironic qui wolf. Actually quis crucifix, distillery vero echo park eu offal dolor. Nihil shoreditch ad mixtape. Meditation food truck retro do mixtape. Post-ironic chia fingerstache, knausgaard brooklyn banh mi delectus godard. Truffaut yuccie iPhone officia aliquip yr beard mlkshk, selvage brooklyn chicharrones.</p>
			  <p>Narwhal keffiyeh try-hard poutine gluten-free eiusmod, occupy incididunt pour-over anim sustainable organic. Et meh sapiente occaecat, sed proident biodiesel VHS commodo wayfarers ramps ugh post-ironic qui wolf. Actually quis crucifix, distillery vero echo park eu offal dolor. Nihil shoreditch ad mixtape. Meditation food truck retro do mixtape. Post-ironic chia fingerstache, knausgaard brooklyn banh mi delectus godard. Truffaut yuccie iPhone officia aliquip yr beard mlkshk, selvage brooklyn chicharrones.</p>

		</div>
	</section>

	<!-- Section 5-->
	<section>
		<div class="container">

			<div class="col-sm-12 col-md-6">
				<header class="section-header text-left">
					<span>Article</span>
					<h3>Title of Article</h3>
					<p>Headliner leading into article content</p>
				</header>

				  <p>Nihil shoreditch ad mixtape. Meditation food truck retro do mixtape. Post-ironic chia fingerstache, knausgaard brooklyn banh mi delectus godard. Truffaut yuccie iPhone officia aliquip yr beard mlkshk, selvage brooklyn chicharrones.</p>
				  <p>DIY health goth cliche, leggings adipisicing et iPhone hoodie four dollar toast art party. Intelligentsia poutine selfies pariatur sint. Dolore DIY gentrify forage waistcoat, lo-fi wayfarers hoodie. Venmo magna veniam, literally plaid DIY williamsburg mustache PBR&B. Selvage farm-to-table 90's meggings kogi. Veniam stumptown deserunt tote bag. Humblebrag pour-over venmo hella, consequat mixtape ramps tote bag gastropub.</p>

				<br><br>
				<a class="btn btn-primary" href="#">Learn more</a>
			</div>

			<div class="col-sm-12 col-md-6">
				<img class="center-block" src="<%= asset_path('learn3.png') %>">
			</div>

		</div>
	</section>

	<!-- Section 6 -->
	<section class="bg-white">
		<div class="container">
			<header class="section-header">
				<span>Article</span>
				<h2>Title of Article</h2>
				<p>Headliner leading into article content</p>
			</header>

			   <p>Narwhal keffiyeh try-hard poutine gluten-free eiusmod, occupy incididunt pour-over anim sustainable organic. Et meh sapiente occaecat, sed proident biodiesel VHS commodo wayfarers ramps ugh post-ironic qui wolf. Actually quis crucifix, distillery vero echo park eu offal dolor. Nihil shoreditch ad mixtape. Meditation food truck retro do mixtape. Post-ironic chia fingerstache, knausgaard brooklyn banh mi delectus godard. Truffaut yuccie iPhone officia aliquip yr beard mlkshk, selvage brooklyn chicharrones.</p>
			  <p>Narwhal keffiyeh try-hard poutine gluten-free eiusmod, occupy incididunt pour-over anim sustainable organic. Et meh sapiente occaecat, sed proident biodiesel VHS commodo wayfarers ramps ugh post-ironic qui wolf. Actually quis crucifix, distillery vero echo park eu offal dolor. Nihil shoreditch ad mixtape. Meditation food truck retro do mixtape. Post-ironic chia fingerstache, knausgaard brooklyn banh mi delectus godard. Truffaut yuccie iPhone officia aliquip yr beard mlkshk, selvage brooklyn chicharrones.</p>

		</div>
	</section>

		</div>
	</section>
</main>
