<header class="site-header overlay-black no-padding-bottom text-center bg-fixed" style="background-image: url(<%= asset_path('huffington-post-background') %>">
  <div class="container">

    <%= image_tag 'huffington-post-logo.png', alt: 'huffington-post-logo' %>
    <br><br><br><br>

  </div>
</header>

<!-- Main container -->
<main>
  <!-- Staff picks -->
  <section>
    <div class="container">
      <header class="section-header">
        <span>HUFFPOST CODE</span>
        <h2>COMING SOON</h2>
        <p>News dedicated to developer, design, and data from The Huffington Post</p>
      </header>



  </section>
</main>
