<!-- Jumbotron -->
<header class="site-header overlay-black no-padding-bottom text-center bg-fixed" style="background-image: url(<%= asset_path('huffington-post-background') %>">
  <div class="container">

    <%= image_tag 'huffington-post-logo.png', alt: 'huffington-post-logo' %>
    <br><br><br><br>

  </div>
</header>

<!-- Main container -->
<main>

  <!-- Under Construction Header -->
  <section>
    <div class="container">
      <header class="section-header">
        <span>HUFFPOST CODE</span>
        <h2>COMING SOON</h2>
        <p>News dedicated to developer, design, and data from The Huffington Post</p>
      </header>

      <hr>

        <!-- First Sample Article -->

        <!-- Article Image -->
        <div class="container">
          <div class="col-sm-12 col-md-6">
            <div class="shot-preview shot">
    				  <%= image_tag 'news-summerofcode.jpg', alt: 'Summer of code' %>
              <span class="black-overlay"></span>
            </div>
    			</div>

          <!-- Article Headline -->
        <div class="col-sm-12 col-md-6">
    			<header class="section-header text-left">
    				<span>Fri, 10 Jul 2015</span>
  					<h3>Codecademy's 'Summer Of Code' Challenges Teens To Improve Their Community</h3>
  					<p><i>by Lorenzo Ligato</i></p>
  				</header>
        </div>

        <!-- Article Body -->
        <div class="col-sm-12 col-md-9">
          <p>For most of us, <a href="http://www.huffingtonpost.com/lori-ferraro/were-not-doing-anything-this-summer-and-im-totally-ok-with-that_b_7629226.html" target="_hplink">summer is the best time to lounge around.</a> But not at Codecademy. </p> <p> Summer of Code is the latest initiative by the <a href="http://www.huffingtonpost.com/2012/01/24/codecademy-coding-school_n_1228868.html" target="_hplink">interactive platform</a>, which has offered free coding classes online since 2011. Launched on Wednesday, the program consists of a summer-long challenge for teens interested in website creation and design. </p> <p> Contestants are expected to complete three Codecademy courses -- <a href="http://www.codecademy.com/en/tracks/web" target="_hplink">HTML/CSS</a>, <a href="http://www.codecademy.com/en/skills/make-a-website" target="_hplink">Make A Website</a> and  <a href="http://www.codecademy.com/en/skills/make-an-interactive-website" target="_hplink">Make An Interactive Website</a> -- in order to learn the ropes of front-end development. After finishing the classes, teens can put their new programming skills to use and create a website using <a href="http://codepen.io/" target="_hplink">Codepen,</a> an online code editor.</p>
          <p> Their website idea should “focus on a way to make their school or community a better place,” according to the rules posted on the Summer of Code’s <a href="http://summerofcode.codecademy.com/" target="_hplink">website.</a> </p> <p> In line with Codecademy’s <a href="http://videos.huffingtonpost.com/politics/backstage-with-codecademy-517659878" target="_hplink">philosophy,</a> having fun is the top priority. </p>
          <p> "It doesn't have to be this dichotomy between things that are learning-centric and things that are fun. We can build something that's fun and learning-centric that can allow people to help their communities," Zach Sims, CEO and co-founder of Codecademy, told The Huffington Post.</p>
          <p> Starting Aug. 30, student-created website concepts can be submitted to the <a href="http://www.reddit.com/r/codecademy" target="_hplink">Summer of Code Submissions thread on Reddit,</a> where people will vote for their favorite project until Sept. 7. The contestant with the most votes will then have the opportunity to work with a Codecademy engineer to host the site they designed and turn their project into a reality. </p>
          <p> "One other thing that we're trying to accomplish here is to give students the ability to create something tangible. When they apply for schools, when they apply for colleges, they have something they can show," Margot Mazur, community manager at Codecademy, told HuffPost.</p>
          <p> Competition aside, the Summer of Code challenge represents an opportunity not only to expose younger people to the programming world, but also to foster a sense of community among code-learners. </p>
          <p> Though teens ages 13 - 18 are the only ones allowed to participate in the official contest, Codecademy invites anyone to participate and practice their skills.</p>
          <p> “A lot of times, students feel like coding is this kind of singular experience where you're sitting down on a computer and doing it on your own. Building a community around Summer of Code is important because you're telling students you're not alone," Mazur said.</p>
          <p> As part of its effort, Codecademy also launched the Twitter hashtag <a href="https://twitter.com/search?q=%23CCsummerofcode" target="_hplink">#CCSummerOfCode</a> for contestants to connect and chat with one another. And judging from their tweets, teen contestants have embraced the initiative. Some already seem to be ahead of the game: </p>
          <p> <center><blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/Codecademy">@Codecademy</a> I've completed the three courses already!! <a href="https://twitter.com/hashtag/CCSummerOfCode?src=hash">#CCSummerOfCode</a></p>— --=--=p=--=-- (@lilpedroo) <a href="https://twitter.com/lilpedroo/status/618848879732133888">July 8, 2015</a></blockquote><br /> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></center></p>
          <p> “It takes the edge off of coding being a foreign language that is impossible to learn,” <a href="https://twitter.com/SierraChas/status/618881620695650304" target="_hplink">Sierra King</a> -- an Atlanta-based freelance photographer who joined the #CCSummerOfCode conversation on Twitter — told HuffPost.</p>
          <p> Although King, who's 22 years old, won’t be able to officially participate as a contestant because of her age, she said the Summer of Code initiative will nonetheless be useful to her: She plans to build a website that she can use as a portfolio and landing page for her photography.</p>
          <p> Given that <a href="http://blog.linkedin.com/2014/12/17/the-25-hottest-skills-that-got-people-hired-in-2014/" target="_hplink">programming is one of the most desired skills in today’s workforce,</a> she certainly isn’t wasting her time.</p>
        </div>

    <!-- Container ends -->
    </div>

  <!-- Section (article) end -->
  </section>

<!-- Main body ends -->
</main>
