<!-- Main start -->
<main>

  <!-- Infograph image -->
  <section>
    <div class="container">
      <div class="col-sm-12 col-md-6">
        <div class="shot-preview shot">
          <%= image_tag 'TLM-Infographic-FINAL-2-page-001.jpg', alt: 'National Statistics of Incarceration' %>
        </div>
      </div>

    <!-- About TLM -->
    <div class="col-sm-12 col-md-6">
      <header class="section-header text-left">
        <span>The Last Mile (<a href="http://thelastmile.org/" target="_blank">TLM</a>)</span>
        <h3>CHANGING LIVES THROUGH TECH</h3>
        <p><i>Source: <a href="http://thelastmile.org/" target="_blank">thelastmile.org</a></i></p>
      </header>

        <p><a href="http://thelastmile.org/" target="_blank">The Last Mile (TLM)</a> was created to provide programs that result in successful reentry and reduce recidivism. We believe that  jobs are the key to breaking the cycle of incarceration. Our mission is to provide marketable skills that lead to employment. Our in an out program provides career training in prison with mentorship and job placement upon release.</p>
        <p><a href="http://thelastmile.org/" target="_blank">TLM</a> began as an intensive 6-month entrepreneurship program at San Quentin, in which men learned how to tap into their passion to create a business that includes a technology component and social cause. At Demo Day in front of 350 invited guests from the business community and fellow inmates, they pitch their ideas. Many say it’s the best day of their life.</p>
        <p>Through the process, they learn how businesses function, how to work with a team, accept criticism, gain confidence in their ability to grasp new ideas, and pivot when they are heading down the wrong path. With the help of volunteers, guest speakers, and leaders from the business community, they are introduced to the latest technology without access to the internet or hands on experience.</p>
        <p>In 2014, <a href="http://thelastmile.org/" target="_blank">TLM</a> launched the first computer coding curriculum in a United States prison (Code.7370), in partnership with the California Department of Corrections and Rehabilitation (CDCR) and CalPIA. The men learn HTML, JavaScript, CSS, and Python. In addition to these front end skills, the curriculum will expand to include web and logo design, data visualization and UX/UI.</p>
        <p>Since Internet access is not allowed in prison,  programs are taught without connectivity. To overcome this challenge we created a proprietary programming platform that simulates a live coding experience. Imagine, software engineers who are judged by the quality of the code they develop, not by the stigma of criminality.</p>
        <p>It is predicted that there will be a shortfall of 1 million software engineering jobs in 2020. The <a href="http://thelastmile.org/" target="_blank">TLM</a> “returned graduates” will be positioned well to leverage this opportunity and support our mission to reduce recidivism by attaining gainful employment.</p>
        <p>For more information, contact <a href="http://thelastmile.org/" target="_blank">TLM</a>.</p>

      </div>

    </div>
  </section>

</main>
